.main-container{
    padding: 0 100px;
    overflow-y: hidden;
    height: 100vh;
}

.form-hr{
    width: 20%;
    color: $_dark_grey;
}

.twoInputsContainer{
    width: 40%;
}

.form-animate{
    opacity: 0;
    animation: 1s fadeUp forwards;
}