.mainDashboardCont{
    position: relative;
}

.dashboard-nav{
    height: 100vh;
    background-color: $_bg_black;
    z-index: 1;
}

.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 30% 25%;
    grid-gap: 10px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.profile-info-cont{
    display: grid;
    grid-template-columns: 80px 60%;
    grid-template-rows: 70px;
    grid-gap: 30px;
    align-content: center;

    .img-cont{
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: colorChange 2s infinite;

        img{
            width: 100%;
        }
    }

    .profile-details{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35% 35%;
        align-content: center;

        &-sub{
            display: flex;
            align-items: center;
        }
    }
}

.menu-items-cont{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 13% 13% 13% 13% 13% 13%;
    align-content: center;

    .cont-items{
        display: flex;
        align-items: center;
    }
}

.main-section{
    background-color: $_bg_light_black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 30% 20% 40%;
    align-content: flex-end;
    grid-gap: 10px;
    padding: 0 60px;

    .mainSecGridItem{
        .cardCont{

            .shopCardContEmpty{
                background-color:$_light_dark_grey;
                width: 400px;
                border-radius: 20px;
                min-width: 400px;
                padding: 0 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .shopCardContCreate{
                width: 400px;
                border-radius: 20px;
                min-width: 400px;
                padding: 0 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                color: $_light_dark_grey;
                font-weight: 800;
                font-family: inherit;
            }

            .shopCardCont{
                background-image: linear-gradient(to right bottom, $_dark_orange, $_orange);
                width: 400px;
                border-radius: 20px;
                min-width: 400px;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: auto 40%;
                align-content: center;
                padding: 20px 20px;
                grid-gap: 10px;

                .body{
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: auto;
                    align-content: center;
                    grid-gap: 10px;

                    .starRating{
                        height: 20px;
                        width: auto;
                    }
                }
            }
        }
        
    }

    .orderSection{
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .orderCardCont{
            height: 150px;

            .cardCont{
                width: 250px;
                height: 95%;
                min-width: 300px;
                background-image: linear-gradient(to right bottom,$_bg_light_black, $_black_grey, $_2_black_grey);
                border-radius: 15px;
                display: grid;
                grid-template-columns: 60% 30%;
                grid-template-rows: 90%;
                justify-content: center;
                align-content: center;
                grid-gap: 10px;
                padding: 10px 20px;
                overflow: hidden;
                box-shadow: inset 2px 3px 5px 1px rgba($_light_dark_grey, 0.3);

                .profileOrder{
                    width: 100%;
                    height: 60%;
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.3);
                    z-index: 1;
                    backdrop-filter: blur(10px);

                    img{
                        width: 100%;
                    }
                }

                .cardInfo{
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 30% 60%;
                    grid-gap: 5px;
                    align-content: center;

                    .info{
                    }
                }
            }
        }
    }
}

.eachSlide{
    display: flex;
    align-items: center;
    padding: 0 5px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover{
        opacity: 1;
    }

}

.hoverCard{
    opacity: 0.7;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover{
        opacity: 1;
    }
}
.side-section{
    background-color: $_bg_black;
    background-color: $_bg_light_black;
}

.customModal{
  background-color: $_bg_black;
  position: absolute;
  z-index: 2;
  height: 100%;
  background-color: rgba($_bg_light_black, 0);
  animation: 0.3s ModalfadeIn forwards ease-in-out;

  .modalform{
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 15px;
      overflow: hidden;

      .formImage{
          overflow: hidden;
          img{
            height: 100%;
          }
      }

      .formInputCont{
          padding-left: 100px;
      }

      .formInput{
          height: 70px;
          border: 2px solid transparent;
          border-radius: 10px;
          background-color: transparent;
          padding-left: 30px;
          transition: 0.3s ease-in-out;
          border: 5px solid $_2_black_grey; 
          outline: none;

          &:hover{
            border: 5px solid $_orange;  
          }

          &:focus{
            border: 5px solid $_orange;  
          }
      }

      .selectionList{
          height: 70px;
          outline: none;
          border-radius: 10px;
          border: 5px solid $_2_black_grey;
          transition: 0.3s ease-in-out;
          background-color: transparent;
          color: $_2_black_grey;
          font-size: 25px;
          padding-left: 30px;
          font-family: inherit;
          font-weight: 600;

          option{
            font-family: inherit;
          font-weight: 600;
            font-size: 25px;
            color: $_2_black_grey;

          }

          &:hover{
            border: 5px solid $_orange;  
          }
      }
  }
}

.enterModal{
    animation: 0.5s ModalForm forwards ease-in-out;

}


.circle{
    height: 500px;
    width: 500px;
    background-image: linear-gradient(to right, $_dark_orange, $_orange);
    border-radius: 50%;
    top: 20%;
    left: 30%;
    z-index: 0;
    box-shadow: inset 3px 2px 25px 5px rgba($_light_dark_grey, 0.7);
}

.productsGridCont{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.selectProductStore{
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:hover .overlay{
        opacity: 0.5;
    }

    img{
        width: 100%;
    }
}

.redClass{
    color: $_font_white;
}

.whiteClass{
    background-color: $_lighter_grey;
    transition: 0.2s ease-in-out;

    &:hover{
        background-color: $_font_white;
    }
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $_bg_black; 
    opacity: 0.7;
    top: 0;
    transition: 0.3s ease-in-out;
}

.productView{
    height: 300px;
    overflow-y: hidden;
    display: flex;
    align-items: center;

    .product{
        width: 400px;
        min-width: 400px;
        height: 250px;
        border-radius: 15px;
    }

    .productAdd{
        width: 200px;
        min-width: 200px;
        height: 250px;
        border-radius: 15px;
    }
}
