.buttons{
    background-image: linear-gradient(to right bottom, $_dark_orange, $_orange);
    padding: 15px 40px;
    font-family: inherit;
    font-weight: bold;
    color: $_font_white;
    border-radius: 10px;
    transition: 0.2s ease-in-out;

    &:hover{
        color: $_font_white;
        transform: scale(1.1);
    }
}

.button-auth{
    width: 40%;
    height: 70px;
    background-image: linear-gradient(to right bottom, $_dark_orange, $_orange);
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
    padding-left: 50px;
    opacity: 0.8;
    transition: 0.2s ease-in-out;

    &:hover{
        opacity: 1;
    }
}

.btn-container-google{
    width: 150px;
    height: 100px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to right bottom, $_red, $_normal_red ,$_light_red);
    cursor: pointer;

    &:hover{
        transform: scale(1.1);
    }

    img{
        width: 30%;
    }
}

// .btn-container-facebook{
//     width: 150px;
//     height: 100px;
//     border-radius: 15px;
//     transition: 0.3s ease-in-out;
//     background-image: linear-gradient(to right bottom, $_dark_blue, $_blue ,$_light_blue);
//     cursor: pointer;
//     margin-left: 5px ;

//     &:hover{
//         transform: scale(1.1);
//         margin-left: 30px;
//     }

//     img{
//         width: 20%;
//     }
// }