.form-inputs{
    width: 40%;
    height: 70px;
    background-image: linear-gradient(to right bottom,$_black_grey, $_2_black_grey);
    outline: none;
    border: 1px solid $_black_grey;
    border-radius: 5px;
    padding-left: 50px;
}

.mini-input{
    width: 49.5%;
    height: 70px;
    background-image: linear-gradient(to right bottom,$_black_grey, $_2_black_grey);
    outline: none;
    border: 1px solid $_black_grey;
    border-radius: 5px;
    padding-left: 50px;
}