//Auth page nav

.auth-nav{
    opacity: 0;
    animation: 1s fadeDown forwards;
}

.logo-cont{
    width: 100px;
    height: 50px;
}

.auth-links{
    height: 50px;
}

.menu-cont{
    width: 300px;
}