$_bg_black : #0d0d0d;

$_font_white : #f2f2f2;

$_red : #ff0000;

$_normal_red: #ff1a1a;

$_light_red: #ff3333;

$_pink: #ff4dc4;

$_dark_pink: #ff00aa;

$_orange : #ff9933;

$_dark_orange: #e65c00;

$_grey: #cccccc;

$_dark_grey: #808080;

$_black_grey: #1a1a1a;

$_2_black_grey: #262626;

$_blue : #0066ff;

$_light_blue : #3385ff;

$_dark_blue: #0047b3;

$_light_green: #66ff66;