.logo-cont{
    font-family: inherit;
    font-size: 30px;
    font-weight: bold;
    color: $_font_white;
}

.menu-links {
    color: $_grey;
    font-family: inherit;
    font-weight: 800;
    font-size: 18px;

    &:hover{
        color: $_font_white;
    }
}

.heading-cont{
    opacity: 0;
    animation: 3s fadeIn forwards;
    margin-top: 200px;
    .heading-main{
        color: $_font_white;
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .sub-heading-main{
        color: $_dark_grey;
        margin-bottom: 80px;
    }
}

.form-inputs{
    font-size: 20px;
    font-family: inherit;
    color: $_dark_grey;
    font-weight: 800;
    transition: 0.2s ease-in-out;

    &::placeholder{
        color: $_dark_grey;
        font-family: inherit;
        font-weight: 800;
        font-size: 17px;
    }

    &:focus{
        border: 1px solid $_dark_grey;
    }
}

.mini-input{
    font-size: 20px;
    font-family: inherit;
    color: $_dark_grey;
    font-weight: 800;
    transition: 0.2s ease-in-out;

    &::placeholder{
        color: $_dark_grey;
        font-family: inherit;
        font-weight: 800;
        font-size: 17px;
    }

    &:focus{
        border: 1px solid $_dark_grey;
    }
}



.button-auth{
    font-size: 22px;
    font-family: inherit;
    color: $_font_white;
    font-weight: 600;
}

.fail{
    color: $_light_red;
    margin-top: 15px;
    font-family: inherit;
    font-weight: 500;
}

.success{
    color: $_light_green;
    margin-top: 15px;
    font-weight: 500;
    font-family: inherit;
}

.username{
    font-family: inherit;
    font-weight: 700;
    color:$_font_white;
    font-size: 20px;
    margin: 0;
}

.usertype{
    font-family: inherit;
    font-weight: 800;
    color:$_lighter_grey;
    margin: 0;
    font-size: 18px;
}

.nav-items-heading{
    font-size: 17px;
}

.menu-heading{
    font-size: 15px;
    font-family: inherit;
    font-weight: 800;
    color: $_lighter_grey
}

.menu-item{
    font-size: 17px;
    font-family: inherit;
    font-weight: 800;
    color: $_lighter_grey;
    transition: 0.2s ease-in-out;
    border-left: 5px solid transparent;
    padding-left: 20px;
    cursor: pointer;

    &:hover{
        color: $_dark_orange;
        border-left: 5px solid $_dark_orange;
    }

}

.active{
    color: $_dark_orange;
    border-left: 5px solid $_dark_orange;
}

.mainSecText{
    color: $_font_white;
    font-family: inherit;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.cardTitle{
    font-size: 50px;
    font-family: inherit;
    font-weight: 900;
}

.cardTitleSmaller{
    font-size: 40px;
    font-family: inherit;
    font-weight: 900;
}


.bodyItem{
     font-family: inherit; 
}

.type{
    font-size: 25px;
    color: $_font_white;
    font-weight: 800;
 }

.addShopBtn{
    font-size: 50px;
    font-family: inherit;
    font-weight: 600;
    text-align: center;
    color: $_dark_grey;
}

.subHeadings{
    color: $_lighter_grey;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 15px;
}

.ratingCont{
    font-size: 15px;
    font-weight: 600;
    color: $_font_white;
    margin-left: 10px;
}

.noRating{
    font-size: 15px;
    font-weight: 500;
    color: $_font_white;
}

.productNum{
    font-size: 20px;
    font-weight: 900;
    font-family: inherit;
    color: $_2_black_grey;
}

.formHeading{
    font-family: inherit;
    font-weight: 900;
}

.formInput{
    font-size: 25px;
    font-family: inherit;
    font-weight: 700; 

    &::placeholder{
        color: $_2_black_grey;
        font-size: 25px;
        font-family: inherit;
        font-weight: 700;

      }
}

.formLabel{
    font-size: 25px;
    font-family: inherit;
    font-weight: 700;
}

.errorText{
    font-size: 15px;
    font-family: inherit;
    font-weight: 700;
}

.orderSubHeadings{
    font-size: 25px;
    color: $_grey;
    font-family: inherit;
    font-weight: 900;
}

.orderPrice{
    h2{
        font-family: inherit;
        font-weight: 900;
        color: $_lighter_grey; 
    }
}

.orderDateMade{
    h6{
        font-family: inherit;
        font-weight: 400;  
        font-size: 10px;
        color: $_dark_grey;

        span{
            font-weight: 800;  
        }
    }
}

.noOrders{
    h4{
        font-family: inherit;
        font-weight: 700;
        color: $_light_dark_grey;
    }
}

.usernameHeading{
    color: $_font_white;
}

.headers{
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
    color:$_dark_grey;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.activeMenu{
    color: $_font_white;
}

.catTitle{
    position: absolute;
    top: 10px;
    left: 20px;
    font-family: inherit;
    font-weight: 800;
    font-size: 25px;
}