* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #0d0d0d;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

a, Link {
  text-decoration: none; }

.logo-cont {
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
  color: #f2f2f2; }

.menu-links {
  color: #cccccc;
  font-family: inherit;
  font-weight: 800;
  font-size: 18px; }
  .menu-links:hover {
    color: #f2f2f2; }

.heading-cont {
  opacity: 0;
  animation: 3s fadeIn forwards;
  margin-top: 200px; }
  .heading-cont .heading-main {
    color: #f2f2f2;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px; }
  .heading-cont .sub-heading-main {
    color: #808080;
    margin-bottom: 80px; }

.form-inputs {
  font-size: 20px;
  font-family: inherit;
  color: #808080;
  font-weight: 800;
  transition: 0.2s ease-in-out; }
  .form-inputs::placeholder {
    color: #808080;
    font-family: inherit;
    font-weight: 800;
    font-size: 17px; }
  .form-inputs:focus {
    border: 1px solid #808080; }

.mini-input {
  font-size: 20px;
  font-family: inherit;
  color: #808080;
  font-weight: 800;
  transition: 0.2s ease-in-out; }
  .mini-input::placeholder {
    color: #808080;
    font-family: inherit;
    font-weight: 800;
    font-size: 17px; }
  .mini-input:focus {
    border: 1px solid #808080; }

.button-auth {
  font-size: 22px;
  font-family: inherit;
  color: #f2f2f2;
  font-weight: 600; }

.fail {
  color: #ff3333;
  margin-top: 15px;
  font-family: inherit;
  font-weight: 500; }

.success {
  color: #66ff66;
  margin-top: 15px;
  font-weight: 500;
  font-family: inherit; }

.username {
  font-family: inherit;
  font-weight: 700;
  color: #f2f2f2;
  font-size: 20px;
  margin: 0; }

.usertype {
  font-family: inherit;
  font-weight: 800;
  color: #b3b3b3;
  margin: 0;
  font-size: 18px; }

.nav-items-heading {
  font-size: 17px; }

.menu-heading {
  font-size: 15px;
  font-family: inherit;
  font-weight: 800;
  color: #b3b3b3; }

.menu-item {
  font-size: 17px;
  font-family: inherit;
  font-weight: 800;
  color: #b3b3b3;
  transition: 0.2s ease-in-out;
  border-left: 5px solid transparent;
  padding-left: 20px;
  cursor: pointer; }
  .menu-item:hover {
    color: #e65c00;
    border-left: 5px solid #e65c00; }

.active {
  color: #e65c00;
  border-left: 5px solid #e65c00; }

.mainSecText {
  color: #f2f2f2;
  font-family: inherit;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center; }

.cardTitle {
  font-size: 50px;
  font-family: inherit;
  font-weight: 900; }

.cardTitleSmaller {
  font-size: 40px;
  font-family: inherit;
  font-weight: 900; }

.bodyItem {
  font-family: inherit; }

.type {
  font-size: 25px;
  color: #f2f2f2;
  font-weight: 800; }

.addShopBtn {
  font-size: 50px;
  font-family: inherit;
  font-weight: 600;
  text-align: center;
  color: #808080; }

.subHeadings {
  color: #b3b3b3;
  font-family: inherit;
  font-weight: 700;
  margin-bottom: 15px; }

.ratingCont {
  font-size: 15px;
  font-weight: 600;
  color: #f2f2f2;
  margin-left: 10px; }

.noRating {
  font-size: 15px;
  font-weight: 500;
  color: #f2f2f2; }

.productNum {
  font-size: 20px;
  font-weight: 900;
  font-family: inherit;
  color: #262626; }

.formHeading {
  font-family: inherit;
  font-weight: 900; }

.formInput {
  font-size: 25px;
  font-family: inherit;
  font-weight: 700; }
  .formInput::placeholder {
    color: #262626;
    font-size: 25px;
    font-family: inherit;
    font-weight: 700; }

.formLabel {
  font-size: 25px;
  font-family: inherit;
  font-weight: 700; }

.errorText {
  font-size: 15px;
  font-family: inherit;
  font-weight: 700; }

.orderSubHeadings {
  font-size: 25px;
  color: #cccccc;
  font-family: inherit;
  font-weight: 900; }

.orderPrice h2 {
  font-family: inherit;
  font-weight: 900;
  color: #b3b3b3; }

.orderDateMade h6 {
  font-family: inherit;
  font-weight: 400;
  font-size: 10px;
  color: #808080; }
  .orderDateMade h6 span {
    font-weight: 800; }

.noOrders h4 {
  font-family: inherit;
  font-weight: 700;
  color: #404040; }

.usernameHeading {
  color: #f2f2f2; }

.headers {
  font-size: 16px;
  font-family: inherit;
  font-weight: 600;
  color: #808080;
  cursor: pointer;
  transition: 0.2s ease-in-out; }

.activeMenu {
  color: #f2f2f2; }

.catTitle {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: inherit;
  font-weight: 800;
  font-size: 25px; }

.main-container {
  padding: 40px 100px;
  overflow-y: hidden;
  height: 100vh; }

.form-hr {
  width: 20%;
  color: #808080; }

.twoInputsContainer {
  width: 40%; }

.form-animate {
  opacity: 0;
  animation: 1s fadeUp forwards; }

.burger-cont {
  display: none; }

.closed {
  display: none; }

.mainDashboardCont {
  position: relative; }

.dashboard-nav {
  height: 100vh;
  background-color: #0d0d0d;
  z-index: 1; }

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 30% 25%;
  grid-gap: 10px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px; }

.profile-info-cont {
  display: grid;
  grid-template-columns: 80px 60%;
  grid-template-rows: 70px;
  grid-gap: 30px;
  align-content: center; }
  .profile-info-cont .img-cont {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: colorChange 2s infinite; }
    .profile-info-cont .img-cont img {
      width: 100%; }
  .profile-info-cont .profile-details {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 35%;
    align-content: center; }
    .profile-info-cont .profile-details-sub {
      display: flex;
      align-items: center; }

.menu-items-cont {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 13% 13% 13% 13% 13% 13%;
  align-content: center; }
  .menu-items-cont .cont-items {
    display: flex;
    align-items: center; }

.main-section {
  background-color: #1a1a1a;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 30% 20% 40%;
  align-content: flex-end;
  grid-gap: 10px;
  padding: 0 60px; }
  .main-section .mainSecGridItem .cardCont .shopCardContEmpty {
    background-color: #404040;
    width: 400px;
    border-radius: 20px;
    min-width: 400px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .main-section .mainSecGridItem .cardCont .shopCardContCreate {
    width: 400px;
    border-radius: 20px;
    min-width: 400px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #404040;
    font-weight: 800;
    font-family: inherit; }
  .main-section .mainSecGridItem .cardCont .shopCardCont {
    background-image: linear-gradient(to right bottom, #e65c00, #ff9933);
    width: 400px;
    border-radius: 20px;
    min-width: 400px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 40%;
    align-content: center;
    padding: 20px 20px;
    grid-gap: 10px; }
    .main-section .mainSecGridItem .cardCont .shopCardCont .body {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      align-content: center;
      grid-gap: 10px; }
      .main-section .mainSecGridItem .cardCont .shopCardCont .body .starRating {
        height: 20px;
        width: auto; }
  .main-section .orderSection {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main-section .orderSection .orderCardCont {
      height: 150px; }
      .main-section .orderSection .orderCardCont .cardCont {
        width: 250px;
        height: 95%;
        min-width: 300px;
        background-image: linear-gradient(to right bottom, #1a1a1a, #1a1a1a, #262626);
        border-radius: 15px;
        display: grid;
        grid-template-columns: 60% 30%;
        grid-template-rows: 90%;
        justify-content: center;
        align-content: center;
        grid-gap: 10px;
        padding: 10px 20px;
        overflow: hidden;
        box-shadow: inset 2px 3px 5px 1px rgba(64, 64, 64, 0.3); }
        .main-section .orderSection .orderCardCont .cardCont .profileOrder {
          width: 100%;
          height: 60%;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.3);
          z-index: 1;
          backdrop-filter: blur(10px); }
          .main-section .orderSection .orderCardCont .cardCont .profileOrder img {
            width: 100%; }
        .main-section .orderSection .orderCardCont .cardCont .cardInfo {
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: 30% 60%;
          grid-gap: 5px;
          align-content: center; }

.eachSlide {
  display: flex;
  align-items: center;
  padding: 0 5px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s ease-in-out; }
  .eachSlide:hover {
    opacity: 1; }

.hoverCard {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  cursor: pointer; }
  .hoverCard:hover {
    opacity: 1; }

.side-section {
  background-color: #0d0d0d;
  background-color: #1a1a1a; }

.customModal {
  background-color: #0d0d0d;
  position: absolute;
  z-index: 2;
  height: 100%;
  background-color: rgba(26, 26, 26, 0);
  animation: 0.3s ModalfadeIn forwards ease-in-out; }
  .customModal .modalform {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    overflow: hidden; }
    .customModal .modalform .formImage {
      overflow: hidden; }
      .customModal .modalform .formImage img {
        height: 100%; }
    .customModal .modalform .formInputCont {
      padding-left: 100px; }
    .customModal .modalform .formInput {
      height: 70px;
      border: 2px solid transparent;
      border-radius: 10px;
      background-color: transparent;
      padding-left: 30px;
      transition: 0.3s ease-in-out;
      border: 5px solid #262626;
      outline: none; }
      .customModal .modalform .formInput:hover {
        border: 5px solid #ff9933; }
      .customModal .modalform .formInput:focus {
        border: 5px solid #ff9933; }
    .customModal .modalform .selectionList {
      height: 70px;
      outline: none;
      border-radius: 10px;
      border: 5px solid #262626;
      transition: 0.3s ease-in-out;
      background-color: transparent;
      color: #262626;
      font-size: 25px;
      padding-left: 30px;
      font-family: inherit;
      font-weight: 600; }
      .customModal .modalform .selectionList option {
        font-family: inherit;
        font-weight: 600;
        font-size: 25px;
        color: #262626; }
      .customModal .modalform .selectionList:hover {
        border: 5px solid #ff9933; }

.enterModal {
  animation: 0.5s ModalForm forwards ease-in-out; }

.circle {
  height: 500px;
  width: 500px;
  background-image: linear-gradient(to right, #e65c00, #ff9933);
  border-radius: 50%;
  top: 20%;
  left: 30%;
  z-index: 0;
  box-shadow: inset 3px 2px 25px 5px rgba(64, 64, 64, 0.7); }

.productsGridCont {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; }

.selectProductStore {
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer; }
  .selectProductStore:hover .overlay {
    opacity: 0.5; }
  .selectProductStore img {
    width: 100%; }

.redClass {
  color: #f2f2f2; }

.whiteClass {
  background-color: #b3b3b3;
  transition: 0.2s ease-in-out; }
  .whiteClass:hover {
    background-color: #f2f2f2; }

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0d0d0d;
  opacity: 0.7;
  top: 0;
  transition: 0.3s ease-in-out; }

.productView {
  height: 300px;
  overflow-y: hidden;
  display: flex;
  align-items: center; }
  .productView .product {
    width: 400px;
    min-width: 400px;
    height: 250px;
    border-radius: 15px; }
  .productView .productAdd {
    width: 200px;
    min-width: 200px;
    height: 250px;
    border-radius: 15px; }

.auth-nav {
  opacity: 0;
  animation: 1s fadeDown forwards; }

.logo-cont {
  width: 100px;
  height: 50px; }

.auth-links {
  height: 50px; }

.menu-cont {
  width: 300px; }

.buttons {
  background-image: linear-gradient(to right bottom, #e65c00, #ff9933);
  padding: 15px 40px;
  font-family: inherit;
  font-weight: bold;
  color: #f2f2f2;
  border-radius: 10px;
  transition: 0.2s ease-in-out; }
  .buttons:hover {
    color: #f2f2f2;
    transform: scale(1.1); }

.button-auth {
  width: 40%;
  height: 70px;
  background-image: linear-gradient(to right bottom, #e65c00, #ff9933);
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
  padding-left: 50px;
  opacity: 0.8;
  transition: 0.2s ease-in-out; }
  .button-auth:hover {
    opacity: 1; }

.btn-container-google {
  width: 150px;
  height: 100px;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to right bottom, #ff0000, #ff1a1a, #ff3333);
  cursor: pointer; }
  .btn-container-google:hover {
    transform: scale(1.1); }
  .btn-container-google img {
    width: 30%; }

.logout-cont {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px; }
  .logout-cont .logout {
    background-image: linear-gradient(to right bottom, #ff0000, #ff1a1a, #ff3333);
    opacity: 0.8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 30px;
    transition: 0.2s ease-in-out;
    cursor: pointer; }
    .logout-cont .logout:hover {
      opacity: 1; }
    .logout-cont .logout .logout-btn {
      text-decoration: none;
      font-size: 25px;
      color: #f2f2f2;
      font-family: inherit;
      font-weight: 800; }

.addShopBtn {
  background-color: #1a1a1a;
  border-radius: 50%;
  width: 150px;
  height: 120px;
  border: 2px solid transparent;
  transition: 0.2s ease-in-out; }
  .addShopBtn:hover {
    color: #ff9933;
    transform: scale(1.05);
    box-shadow: 0rem 0rem 3px 5px rgba(0, 0, 0, 0.175); }

.createBtn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #e65c00;
  color: #f2f2f2;
  font-family: inherit;
  font-weight: 600;
  transition: 0.1s ease-in-out; }
  .createBtn:hover {
    background-color: #ff9933; }

.deleteBtn {
  width: 100px;
  height: 50px;
  background-image: linear-gradient(to right bottom, #ff0000, #ff3333);
  top: 10px;
  right: 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 800;
  font-family: inherit;
  color: #f2f2f2;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  cursor: pointer; }
  .deleteBtn:hover {
    opacity: 1; }

.form-inputs {
  width: 40%;
  height: 70px;
  background-image: linear-gradient(to right bottom, #1a1a1a, #262626);
  outline: none;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  padding-left: 50px; }

.mini-input {
  width: 49.5%;
  height: 70px;
  background-image: linear-gradient(to right bottom, #1a1a1a, #262626);
  outline: none;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  padding-left: 50px; }

@keyframes fadeUp {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fadeDown {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes ModalfadeIn {
  0% {
    display: none; }
  100% {
    background-color: rgba(26, 26, 26, 0.5);
    display: block; } }

@keyframes ModalForm {
  0% {
    top: 0%;
    display: none; }
  100% {
    top: 50%;
    display: block; } }

@keyframes colorChange {
  0% {
    border: 4px solid #e65c00; }
  50% {
    border: 4px solid #ff9933; }
  100% {
    border: 4px solid #e65c00; } }

@media screen and (max-width: 600px) {
  .auth-nav {
    height: 100%;
    width: 80%;
    background-color: black;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-top: 30px;
    transition: 0.2s ease-in-out; }
  .closed {
    display: flex;
    position: absolute;
    right: 10%;
    color: #f2f2f2;
    font-family: inherit;
    font-weight: 500; }
  .auth-nav-visible {
    position: absolute;
    top: 0;
    left: 0; }
  .auth-nav-invisible {
    position: absolute;
    top: 0;
    left: -100%; }
  .burger-cont {
    height: 20px;
    width: 40px;
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .burger-cont div {
      width: 100%;
      height: 10%;
      background-color: white; }
  .sub-nav-cont {
    height: 30%;
    flex-direction: column;
    align-items: flex-start !important;
    overflow-x: hidden; }
  .logo-cont {
    font-size: 15px;
    justify-content: flex-start !important; }
  .menu-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important; }
  .heading-cont {
    width: 100% !important;
    margin-top: 150px;
    padding: 0 30px; }
    .heading-cont .heading-main {
      font-size: 25px;
      text-align: center; }
    .heading-cont .sub-heading-main {
      color: #808080;
      font-size: 12px;
      text-align: center;
      margin-bottom: 30px; }
  .main-container {
    padding: 0; }
  .form-inputs {
    width: 90%;
    height: 40px; }
  .twoInputsContainer {
    width: 90%; }
  .mini-input {
    text-align: center;
    padding: 0;
    width: 49.5%;
    height: 40px;
    font-size: 15px; }
    .mini-input::placeholder {
      font-size: 12px; }
    .mini-input:focus {
      border: 1px solid #808080; }
  .form-inputs {
    font-size: 15px;
    text-align: center;
    padding: 0; }
    .form-inputs::placeholder {
      font-size: 12px; }
    .form-inputs:focus {
      border: 1px solid #808080; }
  .button-auth {
    width: 90%;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center !important;
    padding: 0; }
  .btn-container-google {
    width: 150px;
    height: 100px; }
  .success {
    font-size: 10px;
    text-align: center; }
  .fail {
    font-size: 10px;
    text-align: center; } }
